<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="stylesheet" href="style.css">
    <script type='text/javascript' src="js.js"></script> 
</head>
<body>
    <div class="center">
        <div class="box box-large centered-column">

            <h1>Movie</h1>
            <img class="poster" src="good-bad-ugly.jpg">
            <div class="rating">
                <img id="1" label="rated" src="star-gray.png" onclick="ratingOnClick(this)" onmouseover="hover(this.id)" onmouseout="unhover()">
                <img id="2" label="rated" src="star-gray.png" onclick="ratingOnClick(this)" onmouseover="hover(this.id)" onmouseout="unhover()">
                <img id="3" label="unrated" src="star-gray.png" onclick="ratingOnClick(this)" onmouseover="hover(this.id)" onmouseout="unhover()">
                <img id="4" label="unrated" src="star-gray.png" onclick="ratingOnClick(this)" onmouseover="hover(this.id)" onmouseout="unhover()">
                <img id="5" label="unrated" src="star-gray.png" onclick="ratingOnClick(this)" onmouseover="hover(this.id)" onmouseout="unhover()">
            </div>
            <div id="result" class="result" onclick="resetStars()">
                Please rate the movie.
            </div>

        </div>
    </div>
    
</body>
</html>