<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="stylesheet" href="style.css">
    <script type='text/javascript' src="js.js"></script>
</head>

<body>
    <div class="center">
        <div class="box box-large centered-column">

            <h1>Grandma's Boy (2006)</h1>
            <div class="imdb">
                <span class="imdbRatingPlugin" data-user="ur159109157" data-title="tt0456554" data-style="p1"><a
                        href="https://www.imdb.com/title/tt0456554/?ref_=plg_rt_1"><img
                            src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png" alt=" Grandma's Boy
                    (2006) on IMDb" />
                    </a></span>
                <script>(function (d, s, id) { var js, stags = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js"; stags.parentNode.insertBefore(js, stags); })(document, "script", "imdb-rating-api");</script>
            </div>
            <img class="poster" src="grandmas-boyjpg.jpg">

            <div class="rating">
                <img id="1" label="rated" src="star-gray.png" onclick="ratingOnClick(this)" onmouseover="hover(this.id)"
                    onmouseout="unhover()">
                <img id="2" label="rated" src="star-gray.png" onclick="ratingOnClick(this)" onmouseover="hover(this.id)"
                    onmouseout="unhover()">
                <img id="3" label="unrated" src="star-gray.png" onclick="ratingOnClick(this)"
                    onmouseover="hover(this.id)" onmouseout="unhover()">
                <img id="4" label="unrated" src="star-gray.png" onclick="ratingOnClick(this)"
                    onmouseover="hover(this.id)" onmouseout="unhover()">
                <img id="5" label="unrated" src="star-gray.png" onclick="ratingOnClick(this)"
                    onmouseover="hover(this.id)" onmouseout="unhover()">
            </div>
            <div id="result" class="result" onclick="resetStars()">
                Please rate the movie.
            </div>

        </div>
    </div>

</body>

</html>